[submodule "papers/aral"]
	path = papers/aral
	url = git@github.com:Ar4l/test-latex
	branch = main
[submodule "code/common/evaluation-pipeline"]
	path = code/common/evaluation-pipeline
	url = git@github.com:babylm/evaluation-pipeline.git
	branch = main
[submodule "1-hidden-layers-plan"]
	path = 1-hidden-layers-plan
	url = https://github.com/eugeneman418/FFN-Unveiled-Plan.git
	branch = main
[submodule "1-hidden-layers"]
	path = 1-hidden-layers
	url = https://github.com/eugeneman418/FFN-Unveiled.git
	branch = main
