[submodule "papers/aral"]
	path = papers/aral
	url = git@github.com:Ar4l/test-latex
	branch = main
[submodule "code/common/evaluation-pipeline"]
	path = code/common/evaluation-pipeline
	url = git@github.com:babylm/evaluation-pipeline.git
	branch = main
[submodule "papers/depth-of-ffns"]
	path = papers/depth-of-ffns
	url = https://github.com/filipo18/depth-of-ffns
	branch = main
[submodule "papers/4-module-ordering"]
	path = papers/4-module-ordering
	url = git@github.com:laurikskl/module-ordering-in-transfomers.git
	branch = main
